<span >
  <div>Quantity Bought:<%= item_purchased.quantity_bought %></div>
  <div>Item Id:<%=  item_purchsed.item_id %></div>
  <div>Price:<%= number_to_currency item_purchased.price %>
  <div>Order Id:<%=  item_purchsed.order_id %></div>
</span>

