

  <%= render @customer %>
  
 <!-- <div id="purchases">-->
  <p>INVOICE</p>
  <% products_to_add.each do |a_product|  %>
  <%= a_product.name %>
  </br>
  <%= number_to_currency a_product.price %>
  </br>
  <p>PST:</p>
  <p>GST:</p>
  <p>TOTAL:</p>
<% end %>
<!--</div>-->