<!--<h1>Items#index</h1>
<p>Find me in app/views/items/index.html.erb</p>
-->
<!--<ul>
  <% @items.each do |item|  %>
  <li><%= link_to item.description, item %></li>
  
   
  
   
   

<% end %>
</ul>-->
<h2>
Our Products</h2>
<div id = "paginate"><%= paginate @items %></div>

<%= render @items %>
