<span >

  


<div>Province:<%= province.prov_name %></div>
<div>Pst Rate:<%=  province.pst_rate %></div>
<div>Gst Rate:<%=  province.gst_rate%></div>
<div>Hst Rate:<%=  province.hst_rate %></div>

  
</span>

