<span id ="about">

  


<div id = "contact_and_about"

<% @new_arr = @abouts.to_ary %>
</br>
<%  @new_arr.each do |value|%>
<%= value.title %>
</br>
<%= value.about_text %>
<% end %>
</br>

</div>  
  
</span>

