<p>Here are the products you are looking for:</p>
<% if @items.size.zero? %>
<p>
   No products found.
  
</p>
 <%=flash[:notice] = "Please enter another search item" %>
<% end %>




<%= render @items %>