<!--#<h2>Search For Products</h2>
#<div>
#Choose a Category:
#</div>

#<%= select_tag(:category_id,options_for_select([ ['Dogs',1], ['Cats',2], ['Small Animals', 3], ['Birds', 5]])) %>

#<%= form_tag found_items_path do %>
#  <%= text_field_tag :search_words %>
#  <%= submit_tag 'Search' %>
#<% end %> -->